body{
    margin:0;
    padding: 0;
    height: 100vh;
    background: black;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 80px 1fr 100px;
    /* overflow: hidden; */
}

#description{
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
}
#details{
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 5px;
}
#details > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}
#details img{
    width:  80%;
    height: 80%;
}
#details p{
    margin: 0;
    font-size: 3vmin;
}

footer{
    background-color: #133B5A;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
footer #credits a{
    color: #6cb0e7;
    text-decoration: none;
}

#github-link{
    display: grid;
    grid-template-columns: 1fr auto;
    color: white;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    grid-column-gap: 5px;
    font-size: 20px;
    justify-self: end;
}

header{
    background-color: #133B5A;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#icon{
    width: 20%;
    height: 20%;
}

#location{
    font-size: 4vmin;
    font-weight: bold;
}

#poweredby{
    display: flex;
    justify-self: end;
    font-size: 2vmin;
}
#poweredby img{
    padding: 0 10px
}

section{
    display: grid;
    grid-template-columns: 30vw 60vw;
    margin: 0 auto;
    grid-column-gap: 50px;
}
#sunrise img, #sunset img{
    width: 95%;
    height: 100%;
}

#weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}