body{
    margin:0;
    padding: 0;
    height: 100vh;
    background: black;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 80px 1fr 100px;
}

#description{
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
    user-select: none;
}
#details{
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 5px;
}
#details > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}
#details img{
    width:  80%;
    height: 80%;
}
#details p{
    margin: 0;
    font-size: 3vmin;
}

footer{
    background-color: #133B5A;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
footer #credits p{
    margin: 0
}
footer #credits a{
    color: #6cb0e7;
    text-decoration: none;
}

#github-link{
    display: grid;
    grid-template-columns: 1fr auto;
    color: white;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    grid-column-gap: 5px;
    font-size: 20px;
    justify-self: end;
}

header{
    background-color: #133B5A;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#icon{
    width: 20%;
    height: 20%;
}

#location{
    font-size: 4vmin;
    font-weight: bold;
}

#nope{
    display: none;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}

#poweredby{
    display: flex;
    justify-self: end;
    align-items: center;
    font-size: 2vmin;
}
#poweredby img{
    padding: 0 10px;
}
#pressure{
    grid-column: span 2;
}
#pressure p{
    justify-self: start;
}
#pressure img{
    justify-self: end;
    width: 50%;
    height: 50%;
}

.red{
    color: red;
}

#searchbar{
    width: 50%;
    border: 2px solid rgba(0,0,0,.5);
    padding: 5px;
}
#searchbar::before{
    content: 's';
    position: absolute;
    color: black;
}
section{
    display: grid;
    grid-template-columns: 30vw 60vw;
    margin: 0 auto;
    grid-column-gap: 50px;
}
#sunrise img, #sunset img{
    width: 95%;
    height: 100%;
}

#title{
    justify-self: start;
    font-size: 5vmin;
    font-weight: bold;
}

#weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}